@import 'colors';

body {
  color: $blue;
}


.input-holder {
	margin-top: 20px;
	margin-bottom: 20px;

	input {
		background-color: $lightyellow;
	}

}

.searched-movie-container {
	margin-top: 80px;
}


.searched-movie-container {
	ul {
		list-style-type: none; 
	}
}